<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="Styles/main.css">
</head>

<body>
    <div id="app">
        <header>
            <h1>{{ sitename }}</h1>
            <button v-on:click="toggleCheckout">
                {{ cartItemCount }}
                <span class="fas fa-cart-plus"> Checkout</span>
            </button>
        </header>

        <main>
            <div v-if="showLessons">
                <div v-for="lesson in sortedLessons" :key="lesson.id" class="lesson-card">
                    <figure>
                        <img v-bind:src="lesson.image" :alt="lesson.alt">
                    </figure>
                    <h2>{{ lesson.title }}</h2>
                    <p>{{ lesson.description }}</p>
                    <p>Location: {{ lesson.location }}</p> <!-- Displaying the location -->
                    <p>Price: ${{ lesson.price }}</p>
                    <p>Available: {{ lesson.availableInventory }}</p>
                    <button v-on:click="addToCart(lesson)" :disabled="!canAddToCart(lesson)">
                        {{ canAddToCart(lesson) ? "Add to Cart" : "Out of Stock" }}
                    </button>
                    <span v-if="lesson.availableInventory === cartCount(lesson.id)">All out!</span>
                    <span v-else-if="lesson.availableInventory - cartCount(lesson.id) < 5">
                        Only {{ lesson.availableInventory - cartCount(lesson.id) }} left!
                    </span>
                </div>
            </div>

            <div v-else>
                <div class="checkout-form">
                    <h2>Checkout</h2>
                    <p><strong>First Name:</strong> <input v-model="order.firstName" /></p>
                    <p><strong>Last Name:</strong> <input v-model="order.lastName" /></p>
                    <p><strong>Address:</strong> <input v-model="order.address" /></p>
                    <button v-on:click="submitOrder">Place Order</button>
                </div>
            </div>
        </main>
    </div>

    <script src="lessons.js"></script>
    <script src="app.js"></script>
</body>
</html>